.bg-dam{
    background-image: url(ThompsonFalls.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-card{
    background-color: #7fffd4b4;
}

.complete{
    color: chartreuse !important;
    text-decoration: line-through;
}

.fa-check:hover{
    color: chartreuse !important;
}